<table [hidden]="hideDepartments" class="table table-striped">
    <thead class="thead-dark">
      <th>Title</th>
      <th>Episode ID</th>
      <th>Opening Crawl</th>
      <th>Director</th>
      <th>Producer</th>
      <th>Release Date</th>
      <th>Characters</th>
      <th>Planets</th>
      <th>Starships</th>
      <th>Vehicles</th>
      <th>Species</th>
      <th>Created</th>
      <th>Edited</th>
      <th>URL</th>
    </thead>
    <tbody>
      <tr *ngFor="let film of films">
        <td>{{ film.title }}</td>
        <td>{{ film.episode_id }}</td>
        <td>{{ film.opening_crawl }}</td>
        <td>{{ film.director }}</td>
        <td>{{ film.producer }}</td>
        <td>{{ film.release_date }}</td>
        <td>{{ film.characters }}</td>
        <td>{{ film.planets }}</td>
        <td>{{ film.starships }}</td>
        <td>{{ film.vehicles }}</td>
        <td>{{ film.species }}</td>
        <td>{{ film.creates }}</td>
        <td>{{ film.edited }}</td>
        <td>{{ film.url }}</td>

      </tr>
    </tbody>
  </table>