<app-people-table></app-people-table>
<hr>
<app-planets-table></app-planets-table>
<hr>
<app-films-table></app-films-table>
<hr>
<app-species-table></app-species-table>
<hr>
<app-vehicles-table></app-vehicles-table>
<hr>
<app-starships-table></app-starships-table>
<hr>